<h1> Welcome to ENTR-451 casino </h1>

<%
ranks = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]
suits = ["clubs", "diamonds", "hearts", "spades"]
    for rank in ranks
        for suit in suits
            card = "#{rank} of #{suit}"
            deck.push(card)      
        end
    end
%>


